<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!--utils-->
    <bean id="scannerFactory" class="utils.ScannerFactory"/>

    <bean name="dataSource" id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
        <property name="url" value="jdbc:postgresql://localhost:7777/abram"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="connection" class="java.sql.Connection" factory-bean="dataSource" factory-method="getConnection"/>


    <!--Services-->
    <bean id="userService" class="services.UserService"/>
    <bean id="deskService" class="services.DeskService"/>

    <!--DAO-->
    <bean id="destDao" class="dao.DesksDao"/>
    <bean id="usersDao" class="dao.UsersDao"/>

    <!--Screens-->
    <bean id="desksScreen" class="screens.DesksScreen"/>

</beans>